.daily-weather {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    font-weight: bold;
    align-items: center;
}

.daily-weather p {
    font-size: 1.2rem;
    font-weight: normal;
    width: 100%;
    max-width: 1200px;
}

.daily-weather table {
    border-spacing: 0 5px;
    border-collapse: separate;
    width: 100%;
    max-width: 1200px;
}

.daily-item {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2rem;
    background-color: #173983;
}

.active {
    background-color: #112b63;
}

.daily-item:hover {
    background-color: #112b63;
}

.daily-item > td:first-child {
    font-size: 1.4rem;
}

.daily-item td p:nth-child(2) {
    color: rgba(211, 211, 211, 0.849);
    font-size: 1rem;
    font-weight: 400;
}

.daily-item > td {
    padding: 20px;
}

.daily-item p {
    margin: 0;
}

.daily-item img {
    width: 60px;
    height: 60px;
}

@media (max-width: 550px) {
    .daily-item > td {
        padding: 10px;
    }
}

@media (max-width: 420px) {
    .daily-item > td {
        padding: 5px;
    }
    .daily-item > td:first-child {
        font-size: 1rem;
    }
    .daily-item p {
        font-size: 0.8rem;
    }
}