.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: hsl(210, 36%, 96%);
}


@media (max-width: 400px) {
    .navbar {
        padding: 5px;
    }
}