.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.search input {
    border-color: transparent;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    width: 60%;
}

.search .empty {
    border-color: red;
}

.search button {
    background-color: #2934b4;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-color: transparent;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    text-transform: capitalize;
    color: #fff;
    cursor: pointer;
    font-weight: bold;  
}
